@model DejtingApp.Models.ProfilePageViewModels

@{
    ViewBag.Title = "ExampleUser";
}

<div class="cooldiv">
    <h2>Brian, 55</h2>
    <img src="~/Content/Images/brian.jpeg" style=" width: 300px; height: 300px" />
    <p></p>
    <p>
        <a class="btn btn-default" href="https://localhost:44375/Profile/Profilepage?ProfileId=1">Meet Brian! &raquo;</a>
    </p>

</div>

<div class="cooldiv">
    <h2>Shanequa, 26</h2>
    <img src="~/Content/Images/shanequa.jpg" style="max-width: 300px; max-height: 300px" />
    <p></p>
    <p><a class="btn btn-default" href="https://localhost:44375/Profile/Profilepage?ProfileId=2">Meet Shanequa! &raquo;</a></p>
</div>
<div class="cooldiv">
    <h2>Dolores, 65</h2>
    <img src="~/Content/Images/dolores.jpg" style="max-width: 300px; max-height: 300px" />
    <p></p>
    <p>

        <a class="btn btn-default" href="https://localhost:44375/Profile/Profilepage?ProfileId=3">Meet Dolores! &raquo;</a>

    </p>

</div>


