@model DejtingApp.Models.ExampleUserViewModel
@using DejtingApp.Models

@{
    ViewBag.Title = "ExampleUser";
}

<h2>@Html.DisplayNameFor(model => model.Förnamn)</h2>

<img src="~/Content/Images/brian.jpeg" style="max-width: 200px; max-height: 200px" />
<p></p>
<p><a class="btn btn-default" href="https://localhost:44375/Profile/Profilepage?ProfileId=9">Meet Brian! &raquo;</a></p>


