@using DejtingApp.Models

@model  DejtingApp.Models.ExampleUserViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Up-Yours!</h1>
    <p class="lead">Up-Yours is Grindr 2.0.</p>
    <p>Here you can find friends, lovers or relations of your own preference without even having to try - we will do it for you! Sign up today to take part in this once in a lifetime opportunity. Let's embark on this beautiful journey together! </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Sign up &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.Partial("ExampleUser")
    </div>
   
    <div class="col-md-8" style="border-color: black">

    </div>

    <div class="col-md-4">
        <h2>Shanequa, 25</h2>
        <img src="~/Content/Images/shanequa.jpg" style="max-width: 200px; max-height: 200px" />
        <p></p>
        <p><a class="btn btn-default" href="https://localhost:44375/Profile/Profilepage?ProfileId=11">Meet Shanequa! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dolores, 65</h2>
        <img src="~/Content/Images/dolores.jpg" style="max-width: 200px; max-height: 200px" />
        <p></p>
        <p>
            
            <a class="btn btn-default" href="https://localhost:44375/Profile/Profilepage?ProfileId=12">Meet Dolores! &raquo;</a>
            
        </p>
        
    </div>
</div>