@using DejtingApp.Models

@model  DejtingApp.Models.ProfilePageViewModels
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Up-Yours!</h1>
    <p class="lead">Up-Yours is Grindr 2.0.</p>
    <p>Here you can find friends, lovers or relations of your own preference without even having to try - we will do it for you! Sign up today to take part in this once in a lifetime opportunity. Let's embark on this beautiful journey together! </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Sign up &raquo;</a></p>
</div>

<div class="row">
    @Html.Partial("ExampleUser")
    </div>