@model DejtingApp.Models.Profile

@{
    ViewBag.Title = "Add";
}

<h2>Add Image</h2>
@using (Html.BeginForm("Add",
"Add",
FormMethod.Post,
new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file" />
    <br>
    <br>

    <input type="submit" value="Upload Image" />

    <br>
    <br>

    @ViewBag.Message
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
