@using DejtingApp.Models
@using Microsoft.AspNet.Identity;
@model ProfilePageIndexViewModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*   User.Identity.GetUserId();  *@


<h2>My Profile</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img />
        </div>
        <div class="col-md-8">
            <div class="list-group">
                @foreach (var name in Model.profiles)
                {
                    <h4 class="list-group-item-heading">@name.Förnamn skrev:</h4>
                } @foreach (var message in Model.Messages) {
                    <p class="list-group-item-text">@message.MessageText</p>
                }


                @*
        @Model.Profiles.Select(x => x.Förnamn).Where(b => b.)  new { Message  }) var test =  .Groups.Select(x => new { Group = x.Name, Count = x.Members.Count() } );
        @Model.Profiles.Where(x => x.Förnamn;
                *@





            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @*Namn, ålder*@
        </div>
        <div class="col-md-8">
            @*Message input field*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @*Whitespace*@
        </div>
        <div class="col-md-8">
            @*En submit knapp för att skriva på wallen *@
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4>Description</h4>
            @*Description, interests *@
        </div>
        <div class="col-md-8">
        </div>
    </div>
</div>