@using DejtingApp.Models
@model SearchViewModel 

@*<div>
    @Html.LabelFor(m => m.ProfileId)
    @Html.DropDownListFor(m => m.ProfileId, Model.Users)
    @Html.ValidationMessageFor(m => m.ProfileId)
    <input type="submit" value="Submit" />
</div>*@