@*@using DejtingApp.Models
@model DejtingApp.Models.PersonIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table>
    @foreach (var person in Model.People)
    {
        <tr>
            <td>@person.Id</td>
            <td>@person.Förnamn</td>
        </tr>
    }
</table>
<hr />
@Html.Partial("RegisterUserForm", new Person())*@